/* styles.css */
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Занять всю высоту окна */
    margin: 0; /* нет отступов */
    background-color: #d1e2d2; /* Цвет фона страницы */
}

.my-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    background-color: #a0c099e0;
    border-radius: 10px;
    width: 300px; /* Ширина контейнера */
    max-width: 90%; /* Максимальная ширина для мобильных устройств */
}

.my-button {
    font-size: 17px; /* размер шрифта */
    padding: 10px 20px;
    background-color: #608845;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.my-button:hover {
    background-color: #456d2a;
}

.my-title {
    color: #312113;
    font-family: 'Arial', sans-serif; /* Задайте нужный шрифт */
    font-size: 22px; /* размер шрифта */
    text-align: center; /* выравнивание текста по центру */
    margin: 2; /* отступ*/
}